.seccion-superior {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  padding: 20px;
  align-items: start; 
  background-color: #f3e5d8; 
}

body {
  margin: 0;
  font-family: sans-serif;
}

